@model IEnumerable<Lab2Auction.Models.Bid>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	var auction = ViewBag.Auction as Lab2Auction.Models.Auction;
}
<h2>Bids for @auction?.Name</h2>
@if (!Model.Any())
{
	<p style="color:darkred; font-weight:500; font-size:x-large; text-align:center">There are no bids available yet for this Auction!</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Amount</th>
				<th>Bid Date</th>
				<th>Bidder</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var bid in Model)
			{
				<tr>
					<td>@bid.Amount</td>
					<td>@bid.BidDate.ToString("g")</td>
					<td>@bid.UserEmail</td>
				</tr>
			}
		</tbody>
	</table>
}
<a asp-action="Index" asp-controller="Auctions" class="btn btn-primary">Back to Auctions</a>
